<div class="masthead">
  <div class="masthead__inner-wrap">
    <nav id="site-nav" class="greedy-nav" aria-label="Primary">

      <ul class="visible-links">
        <li class="masthead__menu-item masthead__menu-item--lang">
          <a href="javascript:void(0)" id="lang-zh-link" class="lang-btn">中文</a> <a href="javascript:void(0)" id="lang-en-link" class="lang-btn">EN</a>
        </li>

        {% for link in site.data.navigation.main %}
          <li class="masthead__menu-item">
            <a href="{{ link.url | relative_url }}">
              <span class="i18n zh">{{ link.title_zh | default: link.title | default: link.title_en }}</span>
              <span class="i18n en">{{ link.title_en | default: link.title | default: link.title_zh }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>

      <button class="greedy-nav__toggle" type="button" aria-label="Toggle menu">
        <span class="visually-hidden">Toggle menu</span>
        <div class="navicon"></div>
      </button>

      <ul class="hidden-links hidden"></ul>
    </nav>
  </div>
</div>
