<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!-- <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">Homepage</a></li> -->
          <!-- 语言切换（非按钮样式，和菜单项同级） -->
          <li class="masthead__menu-item masthead__menu-item--lg">
            <a href="javascript:void(0)" id="lang-zh-link">中文</a> /
            <a href="javascript:void(0)" id="lang-en-link">English</a>
          </li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
