---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <style>
        /* Center the widget at the bottom */
        #clustrmaps-widget {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            <!-- I am a comment!
            z-index: 1000; /* Ensure it stays on top of other content */
            -->
        }
    </style>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

    <!-- I am a comment! 
    <div id="clustrmaps-widget">
      <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=hdAUAclaryUOAzncTmg-AxY2nZANJ5sZpO1iIx5zE5E&cl=ffffff&w=300"></script>
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=hdAUAclaryUOAzncTmg-AxY2nZANJ5sZpO1iIx5zE5E&cl=ffffff&w=300"></script>
      <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=tt&d=Z-7P-c__jyKWkEFWv6kpimyIUKQSYn8vWo0XVWtk0gE'></script> 
    </div>
  -->
    
    <div id="clustrmaps-widget">
      <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=hdAUAclaryUOAzncTmg-AxY2nZANJ5sZpO1iIx5zE5E&cl=ffffff&w=300"></script>
    </div>
    
  </body>
</html>
